<h3>Name of Project is: {{title}}</h3>
<h3>{{name}}</h3>
<h1>---------</h1>
<br> <input type="text" [attr.value]="val">
<br><br> <input type="text" [attr.value]=" 'val: ' + val " />
<br><br> <input type="text" [attr.value]="5 + 10" />
<br><br> <input type="text" [attr.value]="inputValue()" />
<br><br><button [disabled]= "num === 5">Click me!</button>

<br> <br>
<button
  class = "btn"
  [class.redClass] = "red"
  [class.greenClass]="green"
  (click)="changeColor()"
  > Click me to Change Color!
</button>
<br> <br>

<button
  class="button"
  [style.backgroundColor]="bgcolor ?  'blue' : 'black'"
  (click)="changeBackgroundColor()"
>Click me
</button>


<br><br>
<button
  class="button" #button
  (click)="onClickButton($event.target)"
>
  Click me
</button>

<br><br>
<input type="text" [(ngModel)]="textValue">
<h3>{{textValue}}</h3>

<input
  type="text"
  [(ngModel)]="textValue"
  (ngModelChange)="showMsg($event)"/>
<h3>{{textValue}}</h3>

<router-outlet></router-outlet>
